#upperheadline {
    text-align: center;
    font-family: Calibri;
    font-weight: 550;
    font-size: 1.8em;
}

.content {
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 5em;
}

p {
    font-family: Calibri;
    font-size: 1.1em;
}

dd {
    font-family: Calibri;
    font-size: 1.1em;
}

ul {
    font-family: Calibri;
    font-size: 1.1em;
}

ol {
    font-family: Calibri;
    font-size: 1.1em;
}

#lisub {
    padding-left: 1.6em;
}

/*Biledjustering design*/

#ryb {
    height: 10em;
    padding-left: 5.5em;
}

#cmyk {
    height: 10em;
    padding-left: 5.5em;
}

#RGBFarve {
    height: 10em;
    padding-left: 5.5em;
}

#hsv {
    height: 13.5em;
}

#farveharmoni {
    height: 9em;
}

#gestalt {
    height: 10em;
}

#exposure {
    height: 17em;
    padding-left: 1.7em;
}

#hvidbal {
    height: 11em;
}

#iso {
    height: 10.5em;
}

#aperture {
    height: 20em;
    padding-left: 0.5em;
}

#shutter {
    height: 14em;
}

#fontanatomi {
    height: 6em;
}

#typoraad {
    height: 13.5em;
}

#photoshop {
    height: 13em;
}

#logoill {
    height: 15em;
    padding-left: 2.9em;
}

#heineken {
    height: 15.5em;
}

#ytvideo {
    padding-left: 1.3em;
}

/*Billeder til virksomhed*/

#swot {
    height: 11.2em;
}

#valprop {
    height: 18em;
}

#valpropdet {
    height: 11.5em;
}

#vandfald {
    height: 11em;
}

#agimet {
    height: 16em;
}

/*Billeder til kommunikation*/

#imkmodel {
    height: 26em;
}

#thorlac {
    height: 15.3em;
}

#kotler {
    height: 10em;
}

#bollemodel {
    height: 24em;
}

#wireframe {
    height: 21em;
}

#mindmap {
    height: 24em;
}

#nytrek {
    height: 17em;
}

#aida {
    height: 13em;
}

#perspektiv {
    height: 27em;
}

/*Billeder til interaktionsudvikling*/

#htmlelement {
    height: 7em;
}

#ytbillede {
    height: 8em;
}

#csselement {
    height: 5em;
}

#cssgridmod {
    height: 11.5em;
}

/*Breakpoint tablet*/

@media screen and (min-width: 1000px) {
    #upperheadline {
        font-size: 3.5em;
    }

    .content {
        padding-left: 5em;
        padding-right: 5em;
    }

    p {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    dl {
        padding-left: 1.5em
    }

    dd {
        padding-left: 1.5em;
    }

    #sublistdt {
        padding-left: 4em;
    }

    #sublistdd {
        padding-left: 5em;
    }

    /*Biledjustering for design*/
    #ryb {
        height: 20em;
        padding-left: 20em;
    }

    #cmyk {
        height: 20em;
        padding-left: 20em;
    }

    #RGBFarve {
        height: 25em;
        padding-left: 18em;
    }

    #hsv {
        height: 30em;
        padding-left: 5em;
    }

    #farveharmoni {
        height: 20em;
        padding-left: 5em;
        ;
    }

    #gestalt {
        height: 20em;
        padding-left: 7em;
    }

    #hvidbal {
        height: 20em;
        padding-left: 11em;
    }

    #exposure {
        height: 25em;
        padding-left: 16em;
    }

    #hvidbal {
        height: 20em;
    }

    #iso {
        height: 20em;
        padding-left: 11em;
    }

    #aperture {
        height: 30em;
        padding-left: 15em;
    }

    #shutter {
        height: 25em;
        padding-left: 12em;
    }

    #fontanatomi {
        height: 16em;
    }

    #typoraad {
        height: 35em;
        padding-left: 1em;
    }

    #photoshop {
        height: 20em;
        padding-left: 13em;
    }

    #logoill {
        height: 20em;
        padding-left: 20em;
    }

    #heineken {
        height: 35em;
        padding-left: 5em;
    }


    #ytvideo {
        height: 30em;
        width: 53.3em;
    }

    /*Billeder til virksomhed*/
    #swot {
        height: 20em;
        padding-left: 10em;
    }

    #valprop {
        height: 30em;
        padding-left: 13em;
    }

    #valpropdet {
        height: 30em;
        padding-left: 3em;
    }

    #vandfald {
        height: 20em;
        padding-left: 11em;
    }

    #agimet {
        height: 29em;
        padding-left: 10em;
    }

    /*Billeder til kommunikation*/
    #imkmodel {
        height: 33em;
        padding-left: 14em;
    }

    #thorlac {
        height: 30em;
        padding-left: 6em;
    }

    #kotler {
        height: 20em;
        padding-left: 6em;
    }

    #bollemodel {
        height: 30em;
        padding-left: 14em;
    }

    #wireframe {
        height: 28em;
        padding-left: 14em;
    }

    #mindmap {
        height: 30em;
        padding-left: 15em;
    }

    #nytrek {
        height: 30em;
        padding-left: 11em;
    }

    #aida {
        height: 20em;
        padding-left: 15em;
    }

    #perspektiv {
        height: 35em;
        padding-left: 20em;
    }

    /*Billeder til interaktionsudvikling*/
    #htmlelement {
        height: 14em;
        padding-left: 9em;
    }

    #ytbillede {
        height: 22em;
        padding-left: 1em;
    }

    #csselement {
        height: 12em;
        padding-left: 8em;
        margin-bottom: 2em;
    }

    #cssgridmod {
        height: 20em;
        padding-left: 14em;
    }

    /*Breakpoint desktop*/
    @media screen and (min-width: 1920px) {
        .content {
            padding-left: 30em;
            padding-right: 30em;
        }


        /*Biledjustering for design*/
        #ryb {
            height: 20em;
            padding-left: 30em;
            ;
        }

        #cmyk {
            height: 20em;
            padding-left: 30em;
        }

        #RGBFarve {
            height: 25em;
            padding-left: 28em;
        }

        #hsv {
            height: 30em;
            padding-left: 10em;
        }

        #farveharmoni {
            height: 20em;
            padding-left: 5em;
        }

        #gestalt {
            height: 24em;
            padding-left: 10em;
        }

        #hvidbal {
            height: 22em;
            padding-left: 17em;
        }

        #exposure {
            height: 28em;
            padding-left: 22em;
        }

        #hvidbal {
            height: 20em;
        }

        #iso {
            height: 26em;
            padding-left: 11em;
        }

        #aperture {
            height: 34em;
            padding-left: 20em;
        }

        #shutter {
            height: 29em;
            padding-left: 15em;
        }

        #fontanatomi {
            height: 20em;
        }

        #typoraad {
            height: 44em;
            padding-left: 1em;
        }

        #photoshop {
            padding-left: 20em;
        }

        #logoill {
            height: 25em;
            padding-left: 25em;
        }

        #heineken {
            padding-left: 13em;
        }

        /*Billeder til virksomhed*/
        #swot {
            height: 25em;
            padding-left: 12em;
        }

        #valprop {
            height: 35em;
            padding-left: 16em;
        }

        #valpropdet {
            height: 30em;
            padding-left: 10em;
        }

        #vandfald {
            height: 22em;
            padding-left: 15em;
        }

        #agimet {
            height: 31em;
            padding-left: 17em;
        }

        /*Billeder til kommunikation*/
        #imkmodel {
            height: 35em;
            padding-left: 20em;
        }

        #thorlac {
            height: 32em;
            padding-left: 11em;
        }

        #kotler {
            height: 22em;
            padding-left: 11em;
        }

        #bollemodel {
            height: 32em;
            padding-left: 22em;
        }

        #wireframe {
            height: 30em;
            padding-left: 19em;
        }

        #mindmap {
            height: 30em;
            padding-left: 25em;
        }
        #nytrek {
            padding-left: 17em;
        }

        #aida {
            height: 20em;
            padding-left: 23em;
        }

        #perspektiv {
            height: 45em;
            padding-left: 30em;

        }

        /*Billeder til interaktionsudvikling*/
        #htmlelement {
            height: 14em;
            padding-left: 16em;
        }

        #ytbillede {
            height: 27em;
            padding-left: 1em;
        }

        #csselement {
            padding-left: 17em;
        }

        #cssgridmod {
            padding-left: 22em;
        }
    }
